{{- if not .Values.lightstep.collector_satellite_key_secret_name }}
{{- if .Values.lightstep.satelliteKey -}}
apiVersion: v1
kind: Secret
metadata:
  name: lightstep-satellite
  labels:
    app: "{{ template "lightstep.fullname" . }}"
    chart: "{{ .Chart.Name }}-{{ .Chart.Version | replace "+" "_" }}"
    release: {{ .Release.Name | quote }}
    heritage: {{ .Release.Service | quote }}
type: Opaque
stringData:
  satellitekey: {{ default "MISSING" .Values.lightstep.satelliteKey  }}
{{- end }}
{{ end }}